DEBUG=False
SECRET_KEY=password
ALLOWED_HOST=127.0.0.1, .localhost, .herokuapp.com
EMAIL_PORT=25
EMAIL_TLS=False
EMAIL_HOST=localhost
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL = 'rafaelbertelli@yahoo.com.br'
